cache
*.tmp
*.temp
*.bak
*.swp
*.log

.DS_Store
.env


# ignore tooles config files
.config/gcloud
.config/firebase
.config/rclone
.config/iterm2
.config/configstore
# 1password
.config/op

.config/yarn/global/package.json
.config/yarn/global/yarn.lock
.config/yarn/global/node_modules
